body { color:#424240; }

a { color:#822433; }

a:hover, a:active, a:focus { color:#000000; }

h1, h2, h3, h4, h5, h6 { color:#65625a; }

#header #site-name a { color:#262626; }

#header #site-name a:hover { color: #3253ad; }

#header #site-slogan { color: #7d7d7d; }


#wrap { }

#footer { background-color:#ffffff; }



