@charset "UTF-8";
/* CSS Document */

/* GLOBAL, REGARDLESS OF VIEWPORT SIZE */



body {
	font-size:1em;
	font-weight:400;
	margin:0px;
border:0px !important;

}

a {
}



div.container {
	background:white;
}

div.content {
	
}


.flexslider .slides img {
	width:708px;
	height:auto;
} 

div.view.view-home-page-slideshow {
	padding:0px;
	float:right;
	margin:0px 0px 0px 30px;
}

div#flexslider-1.flexslider {
background: none repeat scroll 0 0 #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
	padding:0px;
    margin: 0 0 0px;
    position: relative;
	overflow:hidden;
	width:708px;
	z-index:1;
}

div#flexslider-1.flexslider div.views-field.views-field-field-slider-image img {
	border-radius:10px;

}

div#flexslider-1.flexslider ul {
	padding:0px;
	margin:0px;
}

div#flexslider-1.flexslider ul li {

}


  
.flex-control-thumbs {
position:absolute !important;
}

.flex-control-thumbs ol {
	
}

img.flex-active {
	margin-top:-30px;
}

.flex-control-nav {
	width:300px !important;
}

.flex-control-thumbs img {
	width:80% !important;
}

div#flexslider-1.flexslider  ol.flex-control-nav.flex-control-paging li  {

	
}

div#flexslider-1.flexslider  ol.flex-control-nav.flex-control-thumbs li {

	
}

div#flexslider-1.flexslider  ol.flex-control-nav.flex-control-thumbs li img {

	
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-home-page-slideshow-block.block div.content div.view div.view-content div#flexslider-1.flexslider ol.flex-control-nav li img.flex-active {

	
	
}



li {
	list-style:none;
	padding:0px;
}

img {
}

img a {
	border:0px;
	border:none /* IE */
}

p, ul, li{
 font-size:.9em; 
 line-height:1.5em;
 
 }

 .front h1#page-title {
	 display:none;
 }
 
  h1 {
	
	 font-size:1.8em;
	 margin-bottom:20px;
	
 }
 
 
 h2 {
	
	 font-size:1.4em;
	 line-height:125%;
	
	
 }
 
 .front h2 {
	 margin-bottom:10px;
 }
 
 
a:link , a:visited , .front a:hover {
	text-decoration: none;
}

a:hover {
	color:#822433; 
}

div#footer, div#wrap {
	border:0px !important;
}

#admin-menu a {
	font-size:13px;
	line-height:135%;
}

/* mobile phone vertical and landscape   */

	@media only screen and (max-width: 480px) {
		div.container {
	box-shadow:none;
		}
	}

	@media only screen and  (min-width: 481px) and (max-width: 979px) {
	}
	
/* now standard layout */

	@media only screen and (min-width: 980px) {	
	
	
		
	body {
		background:#bab4ac url(../../../../default/files/sand.jpg);
	}
	div#wrap {
		background:url(../../../../default/files/wrap_gradient.png) repeat-x top;
		
	}
	.front p {
	font-size: 0.85em;
    line-height: 1.4em;
	}
	
	div.container {
	box-shadow:0 0 30px #888;
	padding:15px 1.5% 1% 1.5%;
	}
	
	div#footer {
margin-top:0px !important;
padding-top:0px;
	}
	
	div.container div#footer div.container /* FOOTER */ {
		box-shadow:none;
		width:100%;
		padding:0%;
			
	}
	
	div.container div#footer div.container div.one_third /* FOOTER */ {
	display:none;
			
	}
	
	.front div.container div#footer div.container div.one_third /* FOOTER */ {
	display:block;
			
	}
	
	
	div#block-block-5 /* FOOTER */ {
	text-align:center;
		width:100%;
		border-top:1px solid #bab4a5;
	}
	div#block-block-5  p/* FOOTER */ {
	
	margin:8px 0px 2px 0px;
	
	}
	
	
	div#block-block-5  a/* FOOTER */ {
		color:#65625a;
	padding:0px 8px;

	font-weight:500;
	font-size:1.1em;
	}
	
	div#block-block-5 p.copyright { /* FOOTER */
	color:#a1a1a0;
	}
	
	
	div#header-top {
		margin-bottom:25px;
	}
	
	div.region.region-header-top-right  {
		float:right;
		width:500px;
	}
	
	div#block-block-1 { /* utility */
	

	}
	
		div#block-block-1 div#utility-arrows {
			float:right;
		}
	
	
	div#block-block-1 p { /* utility */
	margin:0px;
	text-align:right;
	font-size:.8em;

	}
	
	div#utility-arrows { /* utility */
	background:url(../../../../default/files/utility_arrow_off.gif) right no-repeat;
border-radius: 9px !important;
    float: right;
    padding: 0 30px 0 15px;
	border-radius:6px;
	height:20px;
	margin:0 0 0 16px;
	}
	
	div#utility-arrows:hover { /* utility */
	background:url(../../../../default/files/utility_arrow_on.gif) right no-repeat;
	}
	
	
	div#utility-arrows a { /* utility */
	color:white;
	font-size: 0.75em;
	vertical-align: top;
	display:block;
	}
	
		div.priority-arrows { /* INTRO LINKS */
	background:url(../../../../default/files/priority_arrow_off.gif) right no-repeat;
border-radius: 9px !important;
    float: left;
    padding: 0 30px 0 15px;
	border-radius:6px;
	height:23px;
	margin:0 0 6px 0px;
	}
	
		div.priority-arrows:hover { /* INTRO LINKS */
	background:url(../../../../default/files/priority_arrow_on.gif) right no-repeat;
text-decoration:none;
	}
	
	div.priority-arrows a { /* INTRO LINKS */
	color:white;
	font-size: 0.85em;
	vertical-align: top;
	display:block;
	
	}
	
	div.priority-arrows a:hover { /* INTRO LINKS */
	text-decoration:none !important;
	
	}
	
	
	
	div#block-block-4 { /* address block for contact page */
	background: none repeat scroll 0 0 #EEEEEE;
    float: right;
    margin: 0 0 20px 20px;
    padding: 1% 1.5%;
    width: 25%;
	}
	
		
	div#block-block-4 h3 { /* address block for contact page */

	
	background: none repeat scroll 0 0 #822433;
    color: white;
    line-height: 120%;
    margin-bottom: 8px;
    padding: 2% 1%;
    text-align: center;
	
	}
	
	
	form#search-block-form {
	 float: right;
    margin-left: 300px;
    margin-top: 15px;
	
	}
	
	input#edit-search-block-form--2 {
		 background: url("../../../../default/files/search_background.jpg") no-repeat scroll right top transparent;
    height: 21px;
    padding-right: 30px;
    text-align: left;
    text-indent: 40px;
    width: 206px;
	font-size:0.7em;
	color:#65625a;
	border:0px;
	}
	
	input#edit-search-block-form--2:focus {
				 background: url("../../../../default/files/search_background_on.jpg") no-repeat scroll right top  transparent;
			
   height: 21px;
    text-align: left;
    text-indent: 40px;
    width: 206px;	 
	}
	
	/* COMMUNITY PAGES */
	div.field.field-name-field-community-images {
	float:right;
	}
	
	
div.field.field-name-field-community-images img { /* COMMUNITY PAGES */
background: none repeat scroll 0 0 white;
    border-color: #65625A #555555 #555555 #65625A;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    box-shadow: 2px 2px 4px #CCCCCC;
    padding: 1%;
	margin:0px 0px 10px 0;
}

	
div.field.field-name-field-rent-actual {  /* COMMUNITY PAGES */
background-image: rgba(235,235,235,1);
    background-image: -webkit-linear-gradient(top, #611521 0%,#822434 100%);
    background-image: -moz-linear-gradient(top, #611521 0%,#822434 100%);
    background-image: -o-linear-gradient(top, #611521 0%,#822434 100%);
    background-image: linear-gradient(top, #611521 0%,#822434 100%);
box-shadow: rgba(0,0,0,0.3) 0px 2px 1px 1px, inset rgba(191,127,127,0.5) 0px 1px 2px 1px;
    border: 1px solid #BBBBBB;
    border-radius: 9px;
    float: right;
    font-size: 19px;
    
     padding: 0.25% 2% 0.5%;
    text-align: center;
color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
	letter-spacing:1px;
}
	body.node-type-communities div.group-right { /* COMMUNITY PAGES */
		min-width:49% !important;
		margin-left:1%;
	}
	body.node-type-communities div.group-left { /* COMMUNITY PAGES */
width:49% !important;
	}
	
	div.field.field-name-field-google-map-link  { /* COMMUNITY PAGES */
	width:10%
	}
	
	div.field.field-name-field-google-map-link a { /* COMMUNITY PAGES */
	color:#747470;
	background: url(../../../../default/files/map.png) #747470 center top no-repeat;
	width:80px;
	height:25px;
	display:block;
	border-radius:6px;
	margin:12px 0px 10px 0px;
	text-indent:-9999px;
	padding:4px 0px 0px;
	}
	
	div.field.field-name-field-google-map-link a:hover { /* COMMUNITY PAGES */
	color:#96926d ;
	background:url(../../../../default/files/map.png) #96926d center top no-repeat;
	cursor:pointer;
	display:block;
	}
	
	div.field.field-name-field-community-web-site a { /* COMMUNITY PAGES */
	color:#747470;
	background: url(../../../../default/files/web.png) #747470 center top no-repeat;
	width:80px;
	height:25px;
	display:block;
	border-radius:8px;
	text-indent:-9999px;
	padding:4px 0px 0px;
	}
	
	div.field.field-name-field-community-web-site {
	 
    margin: -39px 770px 12px 90px;
	}
	
	div.field.field-name-field-community-web-site a:hover { /* COMMUNITY PAGES */
	color:#8c8c79;
	background: url(../../../../default/files/web.png) #8c8c79 center top no-repeat;
	width:80px;
	height:25px;
	display:block;
	border-radius:8px;
	text-indent:-9999px;
	padding:4px 0px 0px;
	}
	
	div.field.field-name-field-community-web-site  a:hover { /* COMMUNITY PAGES */
	color:#96926d ;
	background:url(../../../../default/files/web.png) #96926d  center top no-repeat;
	cursor:pointer;
	display:block;
	}
		
	
	div.google-map-link /* COMMUNITY PAGES */ {
	}
	
	div.field.field-name-field-combined-address  {
		width:55%;
	}
	
	div.field.field-name-field-combined-address p {
		font-size: 1.15em;
    font-weight: 500;
	margin-bottom:12px;
	}
	
	div.field.field-name-field-ages {
	 float: right;
    font-size: 1em;
    margin: 6px 0 0 12px;
  
    text-align: right;
	}
	
	div.field.field-name-field-ages div {
	
    padding: 0px;
	}

/* COMMUNITY VIEWS */

div.views-field.views-field-field-amenities li {
display: inline;
    list-style-image: none;
    list-style-type: none;
}

fieldset#node_communities_full_group_management {

font-size:.9em;
	 height: 90px;
	  margin-top: 10px;
	 
}

fieldset#node_communities_full_group_comm_amenities {
	
	width:100%;
font-size:.9em;
	height: 90px;
	 margin-top:10px;
	 float:right;
}

fieldset#node_communities_full_group_community_address {
}

div.node-communities div.field.field-name-body {
float:left;
width:48%;
}

.front div.field.field-name-body {
width:21%;
}

div.views-field.views-field-field-community-images {
	float:right;

}

div.views-field.views-field-field-community-images img {
	border:1px solid #bbb;
	border-radius:6px;
}


div.views-field.views-field-field-rent-actual {
	float:right;
	
}
div.views-field.views-field-field-amenities {
}
	
span.views-label.views-label-field-amenities {
	
}

div.views-field.views-field-title a {
	font-size:1.2em;
	font-weight:500;
}

div.view.view-communities.view-id-communities div.views-row {
	padding:1% 1.5% 4% 2%;
	border-bottom:1px solid #ddd;
}

div.view.view-communities.view-id-communities div.views-row.views-row-odd:hover,
div.view.view-communities.view-id-communities div.views-row.views-row-even:hover  {
	background:#B1AB99;
}

div.view.view-communities.view-id-communities div.views-row.views-row-odd {
	background:#fff;
}

div.view.view-communities.view-id-communities div.views-row.views-row-last {
	border-bottom:none;
}


div.view.view-communities.view-id-communities div.views-row.views-row-even {
	background:#f0f0f0;
}

div.view.view-communities.view-id-communities div.views-field-field-combined-address {
font-weight:500;
font-size:1.1em;
}

div.view.view-communities.view-id-communities div.views-field-field-combined-address  p{
 margin-bottom:10px;
}

div.view.view-communities.view-id-communities div.views-field-field-amenities,
div.view.view-communities.view-id-communities div.views-field-field-ages,
div.view.view-communities.view-id-communities div.views-field-field-rv-spaces {
	font-size:.9em;
line-height: 1.15em;
 padding: 0 0 0.5%;
 
}

div.view.view-communities.view-id-communities div.views-field-body {
	font-size:1em;
line-height: 1em;
 padding: 1% 0 0 1.5%;
 font-family:serif;
 font-style:italic;
}
 

div.view.view-communities.view-id-communities div.views-exposed-widget select {
font-size:.8em;
	border-radius:0em;
	line-height:1em;
}



div.view.view-communities.view-id-communities div.views-exposed-widget label {
font-size:.8em;
	font-weight:400;
}

div#edit-field-rv-spaces-tid-wrapper {
	
}
select#edit-field-rv-spaces-tid {
	width:50%;
}



/* SIDE MENU */
div#block-menu-block-1 {
	margin: 0 2% 0 0%;
    width: 16%;
	float:left;
	background:#eee;
}

div#block-menu-block-1 ul {
	width:100%;
}

div#block-menu-block-1 ul li{
	width:100%;
}

/* CONTACT FORM */

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #666259; background:#e9e8e3;
    border-radius: 12px 12px 12px 12px;
    font-size: 1.25em;
    padding: 1%; 
	color:#666259;}
	
	div#webform-component-message, textarea#edit-submitted-message,
	div#webform-component-message div.form-textarea-wrapper,
	div#webform-component-message  div.grippie  {
		width:85%;
	}
		textarea#edit-submitted-message {
		font-family:sans-serif;
	}
	
	form#webform-client-form-8  input.form-text, form#webform-client-form-8  textarea.form-textarea, form#webform-client-form-8  select.form-select{
	border-radius: 6px;
    box-shadow: 1px 1px 1px #999999;
    color: #666259;
    font-size: 1em;
    padding: 1%;
	}
	
	form#webform-client-form-8 label {
		padding-bottom:6px;
	}
	
	/* MEET THE TEAM */
	
	div.team-member  {
		min-height:270px;
		border-bottom:1px solid #ccc;
		padding:10px 0px 0px 0px;
	}
	
	div.team-member h3  {
	background:#B1AB99;
	color:white;
    margin: 0px 0px 8px 175px;
    padding: 3px 0 3px 10px;
	}
	
	div.team-member img {
	 float: left;
    height: auto;
    margin: 0px 30px 30px 0;
    width: 160px;
	border:1px solid #B1AB99;
	}
/* NEWS */

div#block-views-news-categories-block, /* MEETING MINUTES */
div#block-views-news-categories-block-1,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 { /* MANAGER RESOURCES */
border:1px solid #aaa;
padding:1% 1.25%;
width:28%;float:left;
border-radius:6px;
background:white;box-shadow:2px 2px 1px #ddd; margin-bottom: 20px;
}

div#block-views-news-categories-block img.file-icon, /* MEETING MINUTES */
div#block-views-news-categories-block-1 img.file-icon,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 img.file-icon { /* MANAGER RESOURCES */
display:none;
}

div#block-views-news-categories-block span.file, /* MEETING MINUTES */
div#block-views-news-categories-block-1 span.file,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 span.file { /* MANAGER RESOURCES */
background:url(../../../../default/files/pdf-icon.png) left no-repeat;
height:16px;
width:16px;
}



div#block-views-news-categories-block div.views-row, /* MEETING MINUTES */
div#block-views-news-categories-block-1 div.views-row,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 div.views-row { /* MANAGER RESOURCES */
padding:.5% .5% .5% 2.5%;
}

div#block-views-news-categories-block div.views-row.views-row-even, /* MEETING MINUTES */
div#block-views-news-categories-block-1 div.views-row.views-row-even,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 div.views-row.views-row-even { /* MANAGER RESOURCES */
background:#eee;
}

div#block-views-news-categories-block h2, /* MEETING MINUTES */
div#block-views-news-categories-block-1 h2,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 h2 { /* MANAGER RESOURCES */
font-size:1.15em;
margin-bottom:6px;
}

div#block-views-news-categories-block a, /* MEETING MINUTES */
div#block-views-news-categories-block-1 a,  /* SAFETY COMMITTEE */
div#block-views-news-categories-block-2 a { /* MANAGER RESOURCES */
font-size:.85em;
padding-left: 24px;
}

div#block-views-news-categories-block-2 { /* MANAGER RESOURCES */
margin-right:3%;

}

div#block-views-news-categories-block-1 { /* SAFETY COMMITTEE */
margin-right:3%;
}

div#block-views-news-categories-block { /* MEETING MINUTES */
}

/* HOME TOUTS */

div.one_third div#block-block-6, div.one_third div#block-block-7 { /* HOME TOUTS */
	border-radius:0 8px 0 0;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	padding-top:3%;

}


div.one_third div#block-block-6 h2, div.one_third div#block-block-7 h2 { /* HOME TOUTS */
	
	font-size:1.3em;}