@charset "UTF-8";
/* CSS Document */

/* GLOBAL, REGARDLESS OF VIEWPORT SIZE */



body {
	font-size:1em;
	font-weight:400;
	margin:0px;
border:0px !important;

}



div.container {
	background:white;
}


.flexslider .slides img {
	width:708px;
	height:auto;
} 

div.view.view-home-page-slideshow {
	padding:0px;
	float:right;
	margin:0px 0px 0px 30px;
}

div#flexslider-1.flexslider {
background: none repeat scroll 0 0 #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
	padding:0px;
    margin: 0 0 0px;
    position: relative;
	overflow:hidden;
	width:708px;
	z-index:1;
}

div#flexslider-1.flexslider div.views-field.views-field-field-slider-image img {
	border-radius:10px;

}

div#flexslider-1.flexslider ul {
	padding:0px;
	margin:0px;
}

div#flexslider-1.flexslider ul li {

}


  
.flex-control-thumbs {
position:absolute !important;
}

.flex-control-thumbs ol {
	
}

img.flex-active {
	margin-top:-30px;
}

.flex-control-nav {
	width:300px !important;
}

.flex-control-thumbs img {
	width:80% !important;
}

div#flexslider-1.flexslider  ol.flex-control-nav.flex-control-paging li  {

	
}

div#flexslider-1.flexslider  ol.flex-control-nav.flex-control-thumbs li {

	
}

div#flexslider-1.flexslider  ol.flex-control-nav.flex-control-thumbs li img {

	
}

html.js body.html div#wrap div.container div#content.sixteen div#main div.region div#block-views-home-page-slideshow-block.block div.content div.view div.view-content div#flexslider-1.flexslider ol.flex-control-nav li img.flex-active {

	
	
}



li {
	list-style:none;
	padding:0px;
}

img {
}

img a {
	border:0px;
	border:none /* IE */
}

p, ul, li{
 font-size:.9em; 
 line-height:1.5em;
 
 }

 .front h1#page-title {
	 display:none;
 }
 
  h1 {
	
	 font-size:1.8em;
	 margin-bottom:20px;
	
 }
 
 
 h2 {
	
	 font-size:1.4em;
	 line-height:125%;
	
	
 }
 
 .front h2 {
	 margin-bottom:15px;
 }
 
 
a:link , a:visited {
	text-decoration: none;
}

div#footer, div#wrap {
	border:0px !important;
}

#admin-menu a {
	font-size:13px;
	line-height:135%;
}

/* mobile phone vertical and landscape   */

	@media only screen and (max-width: 480px) {
		div.container {
	box-shadow:none;
		}
	}

	@media only screen and  (min-width: 481px) and (max-width: 979px) {
	}
	
/* now standard layout */

	@media only screen and (min-width: 980px) {	
	
	
		
	body {
		background:#bab4ac url(../../../../default/files/sand.jpg);
	}
	div#wrap {
		background:url(../../../../default/files/wrap_gradient.png) repeat-x top;
		
	}
	
	div.container {
	box-shadow:0 0 30px #888;
	padding:15px 1.5% 1% 1.5%;
	}
	div.container div#footer div.container {
		box-shadow:none;
		width:600px;
		padding:0%;
	}
	
	div#header-top {
		margin-bottom:25px;
	}
	
	div.region.region-header-top-right  {
		float:right;
		width:500px;
	}
	
	div#block-block-1 { /* utility */
	

	}
	
		div#block-block-1 div#utility-arrows {
			float:right;
		}
	
	
	div#block-block-1 p { /* utility */
	margin:0px;
	text-align:right;
	font-size:.8em;

	}
	
	div#utility-arrows {
	background:url(../../../../default/files/utility_arrow_off.gif) right no-repeat;
border-radius: 9px !important;
    float: right;
    padding: 0 30px 0 15px;
	border-radius:6px;
	height:20px;
	margin:0 0 0 16px;
	}
	
	div#utility-arrows:hover {
	background:url(../../../../default/files/utility_arrow_on.gif) right no-repeat;
	}
	
	
	div#utility-arrows a {
	color:white;
	font-size: 0.75em;
	vertical-align: top;
	display:block;
	}
	
	
	
	div#block-block-2 { /* address block for contact page */
	width:25%;
	float:right;
	margin:0px 0px 20px 0px;
	background:#eee;
	}
	
	
	form#search-block-form {
	 float: right;
    margin-left: 300px;
    margin-top: 15px;
	
	}
	
	input#edit-search-block-form--2 {
		 background: url("../../../../default/files/search_background.jpg") no-repeat scroll right top transparent;
    height: 21px;
    padding-right: 30px;
    text-align: left;
    text-indent: 40px;
    width: 206px;
	font-size:0.7em;
	color:#65625a;
	border:0px;
	}
	
	input#edit-search-block-form--2:focus {
				 background: url("../../../../default/files/search_background_on.jpg") no-repeat scroll right top  transparent;
			
   height: 21px;
    text-align: left;
    text-indent: 40px;
    width: 206px;	 
	}
	
	/* nice menus */
	

	
